
// PLACEHOLDERS //


// HEADLINES //

%headline2 {
  color: grey;
  font-weight: lighter;
  margin-top: 3.5em;
  padding-bottom: 1.5em;
  margin-left: .8em;
}

%headline1 {
  color: $main-green-col;
  padding-left: 0.8em;
}

// IMAGES //

%linko {
  text-decoration: none;
  color: $bright-blue;
  font-weight: bold;
}

%img-hero {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2em;
  padding-bottom: 1em;
}

%img-ava {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2em;
  // padding-bottom: 2em;
}

%img-frm {
  display: block;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #BDC2C4;
  padding: .6em;
}

// QUOTES //

%block-quote {
  border-left: 8px solid $main-green-col;
  border-radius: 4px;
  font-size: 1.5em;
  font-weight: lighter;
  font-style: italic;
  color: grey;
  margin: 0 0 0 16px;
  padding-left: 19px;
}

// FORMS //

%form-fix {
  display: none;
  float: left;
  border-bottom: 3px solid $main-green-col;
}

%form-bord {
  outline: 0;
  border: 0;
  margin-left: 1em;
  font-weight: bold;
  border-bottom: 6px solid $main-green-col;
  width: 300px;
  padding-bottom: .7em;
  padding-top: 2.1em;
  padding-left: 1em;
}
