

@mixin nav-flex {
  display: flex;
  justify-content: center;
}

@mixin nav-layout {
  list-style: none;
  padding: 1em 6em 0 6em;
  text-decoration: none;
  text-align: center;
  border: 1px solid $white-col;
  border-radius: 5px 5px;
}

@mixin contain {
  width: 90%;
  margin: 0 auto;
}
