

@mixin nav-flex {
  display: flex;
  justify-content: center;
}

@mixin nav-layout {
  list-style: none;
  padding: 1em 7em 0 7em;
  text-decoration: none;
  text-align: center;
  border: 1px solid $white-col;
  border-radius: 5px 5px;
}

@mixin contain {
  width: 90%;
  margin: 0 auto;
}

@mixin button-def {
  display: block;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  border: 1px solid $white-col;
  border-radius: 5px 5px;
  padding: .8em 8.5em .8em 8.5em;
  color: white;
  background-color: $bright-blue;
}
