/*========== VARIABLES ===========*/

$main-green-col: #58E1C1;
$white-col: #fff;
$grey-col: grey;
$bright-blue: #51DDFC;



$suc-col: #63CD83;
$error-col: #E5767B;
$warning-col: #FD7955;
$info-col: #937CC2;
