/*========== VARIABLES ===========*/

// BREAKPOINT //

// $desktop: 769px;
$media-break: 769px;

// COMMON USED COLORS //

$main-green-col: #58E1C1;
$white-col: #fff;
$grey-col: grey;
$bright-blue: #51DDFC;


// BUTTON COLORS //

$suc-col: #63CD83;
$error-col: #E5767B;
$warning-col: #FD7955;
$info-col: #937CC2;

// GRID COLORS //
$themes: (
  '12': #81E9D2,
  '6':  #3DACCB,
  '4':  #7FE7FD,
  '3':  #DFB3EE,
  '5':  #89DAA1,
  '7':  #EDA0A4,
  '8':  #FDA086,
);

// FONTS //

$main-font: 'Open Sans', sans-serif;
