/*========== VARIABLES ===========*/

// COMMON USED COLORS //

$main-green-col: #58E1C1;
$white-col: #fff;
$grey-col: grey;
$bright-blue: #51DDFC;


// BUTTON COLORS //

$suc-col: #63CD83;
$error-col: #E5767B;
$warning-col: #FD7955;
$info-col: #937CC2;

// GRID COLORS //

$grid-12: #81E9D2;
$grid-6: #3DACCB;
$grid-4: #7FE7FD;
$grid-3: #DFB3EE;
$grid-5: #89DAA1;
$grid-7: #EDA0A4;
$grid-8: #FDA086;
