
// BUTTONS //


.btn {

  &--default {
    @include button-def {
        background-color: $bright-blue;
    }
    @media (min-width: 1400px) {
      width: 220px;
      margin-left: .8em;
      margin-right: .8em;
    }
  }

  &--success {
    @include button-def {
      background-color: $suc-col;
    }
    @media (min-width: 1400px) {
      width: 200px;
      margin-left: .8em;
      margin-right: .8em;
    }
  }

  &--error {
    @include button-def {
      background-color: $error-col;
    }
    @media (min-width: 1400px) {
      width: 200px;
      margin-left: .8em;
      margin-right: .8em;
    }
  }

  &--warning {
    @include button-def {
      background-color: $warning-col;
    }
    @media (min-width: 1400px) {
      width: 250px;
      margin-left: .8em;
      margin-right: .8em;
    }
  }

  &--info {
    @include button-def {
        background-color: $info-col;
    }
    @media (min-width: 1400px) {
      width: 150px;
      margin-left: .8em;
      margin-right: .8em;
    }
  }
}
