
// BUTTONS //


.btn {

  &--default {
    @include button-def {
        background-color: $bright-blue;
    }
    @media (min-width: $media-break) {
      width: 220px;
      margin-left: 1em;
      margin-right: 1em;
    }
  }

  &--success {
    @include button-def {
      background-color: $suc-col;
    }
    @media (min-width: $media-break) {
      width: 220px;
      margin-left: 1em;
      margin-right: 1em;
    }
  }

  &--error {
    @include button-def {
      background-color: $error-col;
    }
    @media (min-width: $media-break) {
      width: 220px;
      margin-left: 1em;
      margin-right: 1em;
    }
  }

  &--warning {
    @include button-def {
      background-color: $warning-col;
    }
    @media (min-width: $media-break) {
      width: 220px;
      margin-left: 1em;
      margin-right: 1em;
    }
  }

  &--info {
    @include button-def {
        background-color: $info-col;
    }
    @media (min-width: $media-break) {
      width: 220px;
      margin-left: 1em;
      margin-right: 1em;
    }
  }
}
