
// .form {
//   width: 90%;
//   margin: 0 auto;
// }

.form__label--hidden {
  @extend %form-fix;
}

.form__input {
  @extend %form-bord;
  @media (min-width: 769px) {
    padding-top: 1em;
    border-bottom: 5px solid #58E1C1;
    width: 355px;
  }
}
