
// MOBILE GRID VIEW //


.grid__col {

  &--3 {
  @include mobile-grid {
  background-color: $grid-3;
    }
  }

  &--4 {
  @include mobile-grid {
  background-color: $grid-4;
    }
  }

  &--5 {
  @include mobile-grid {
  background-color: $grid-5;
    }
  }

  &--6 {
  @include mobile-grid {
  background-color: $grid-6;
    }
  }

  &--7 {
  @include mobile-grid {
  background-color: $grid-7;
    }
  }

  &--8 {
  @include mobile-grid {
  background-color: $grid-8;
    }
  }

  &--12 {
  @include mobile-grid {
  background-color: $grid-12;
    }
  }
}


// .grid__row {
//   @include mobile-grid {
//   }
// }
