
//GRID VIEW //

.grid__row{
@include flex($dir: row);
@media (max-width: 480px) {
  @include flex($dir:column)
}
}

.grid__row {
  @each $theme, $color in $themes {
    .theme__colors.grid__col--#{$theme} {
      background-color: $color;
    }
  }
}

.grid__row {
  @for $i from 2 through 12 {
  .theme__colors.grid__col--#{$i} {
    @include grid-expand(.5em 0 .5em .5em, .3em, 5px 5px);
  }
  }
}

.grid__row {
  justify-content: space-between;
}

.grid__col--8 {
  flex: 2;
  padding-right: 5em;
}

.grid__col--4 {
  flex: 1;  
}
