
.img {

  &--logo {
    @extend %img-hero;
    @media (min-width: 1400px) {
    display: inline-block;
    margin-right: auto;
    padding-top: 1em;
    }
  }

  &--avatar {
    @extend %img-ava;
    @media (min-width: 1400px) {
      padding-top: 0;
    }
  }

  &--frame {
    @extend %img-frm;
  }
}
