
.img {

  &--logo {
    @extend %img-hero;
    @media (min-width: 1400px) {
    display: inline-block;
    margin-left: 0;
    margin-right: auto;
    }
  }

  &--avatar {
    @extend %img-ava;
  }

  &--frame {
    @extend %img-frm;
  }
}
