
// NAVIGATION //

.nav {
display: flex;
flex-direction: column;
padding: 0;
@media (min-width: 1400px) {
  display: inline-block;
}
}

.nav__item {
  @include nav-layout;
  @media (min-width: 1400px) {
    padding: 1em 1em 0 1em;
  }
    &:hover {
    background-color: $main-green-col;
  }
}

.nav__item a {
  text-decoration: none;
  display: inline-block;
  padding-bottom: 10px;
  color: $grey-col;
  font-weight: lighter;
    &:hover {
      color: $white-col;
    }
}
