// TYPOGRAPHY //

.container {
  @include contain;
}

// HEADLINES //

.headline--secondary {
  @extend %headline2;
  margin-left: auto;
  margin-right: auto;
  @media (min-width: 1400px) {
    padding-bottom: .5em;
  }
}

.headline--primary {
  @extend %headline1;
}


// LINKS //

.link {
  @extend %linko;
}

// BLOCKQUOTE //

.blockquote {
  @extend %block-quote;
}
